* {
    margin: 0;
    /* padding: 0; */
    /* box-sizing: border-box; */
}

body {
    font-family: Arial, sans-serif;
    /* background-image: url('images/background.jpg'); */
    /* text-align: center;
    height: 100vh;
    width: 100%; */
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: inherit
}


.main-content {
    padding: 50px;
    background-image: url('images/background.jpg');
    background-size: cover;
    text-align: center;
    height: 100vh;
    width: 100%;
}

.header {
    background-color: #fff;
    color: #fff;
    padding: 25px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    color: #459E85;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}


.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 10%;
    padding: 0;
    border: none;
    background-color: transparent;
    color: #000000 !important;
    cursor: pointer;

}


.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

.left-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 45%; */
    width: 300px;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 5px;
    margin-right: 80px;
    margin-left: 80px;

}

.right-box  {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 45%; */
    width: 380px;
    background-color: #ffffff;
    border-radius: 5px;
    margin-right: 80px;
    margin-left: 80px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color:#fff;
}

.sub-text {
    font-size: 16px;
    margin-top: 20px;
    color:#fff;

}

#train-image {
    padding-top: 100px;
    /* border-bottom: 3px solid #459E85; */
    width: 70%;
}

#green-line {
    margin-top: 70px;
    width: 85%;
    height: 3px;
    background:#459E85;
    border-radius: 10px;
}

#book-phrase {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
    color:#000000;
    padding-top: 50px;
}

#departure-input, #arrival-input{
background-color: #eeeeee;
border-radius: 5px;
border: none;
height: 50px;
width: 100%;
padding-left: 10px;

}

#separation {
    width:98%;
    height:1px;
    background: #000000;

}

#calendar-input {
    background-color: #eeeeee;
    border-radius: 5px;
    width: 90%;
    margin-top: 50px;
    height: 50px;
    width: 100%;
    border: none;


}

::placeholder {
    font-size: 16px;
    font-family: Arial, sans-serif;
}

calendar-input {
width: 50%;
padding-left: 10px;
}


#search-button {
background-color: #46a095;
color:#eeeeee;
font-family: Arial, sans-serif;
font-size: 16px;
font-weight: 300px;
margin-top: 150px;
border-radius: 5px;
border: none;
height: 50px;
width: 100%;
}

/* cart css  */


.cart-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 220, 220);
    height: 100vh;
    width: 100%;
}

.cart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    height: 200px;
    width: 55%;
}

/* bookings css  */

.bookings-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 220, 220);
    height: 100vh;
    width: 100%;
}

.bookings-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    height: 200px;
    width: 55%;
}


/* css for DOM */

/* NO TRIP FOUND RESULT CSS */

#notfound-image {
    padding-top: 60px;
    /* border-bottom: 3px solid #459E85; */
    width: 60%;
}

#notrip-phrase {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
    color:#000000;
    padding-top: 50px;
}

/* RESULTS FOUND AND LISTED */

#result {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #eeeeee;
    border-radius: 5px;
    border: none;
    height: 50px;
    width: 90%;
    margin-top: 25px;
    }

#book-button {
    background-color: #46a095;
    color:#eeeeee;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: 300px;
    border-radius: 5px;
    border: none;
    height: 30px;
    width: 20%
}