* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('images/background.jpg');
    background-position: center center;
    background-size: cover;
    text-align: center;
    height: 100vh;
    width: 100%;
}

.header {
    background-color: #fff;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    color: #459E85;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

/* styles.css */



.buttons {
    margin-left: 10px;
    padding: 0;
    border: none;
    background-color: transparent;
    color: #000000;
    cursor: pointer;

}





.main-content {
    text-align: center;
    margin-top: 50px;
}

.container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.left-box,
.right-box {
    width: 45%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
}

.sub-text {
    font-size: 14px;
    margin-top: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}